extends cpp
##
## Class
# class
snippet cl
/*! \class $1
 *  \brief ${3:Brief class description}
 *
 *  ${4:Detailed description}
 */
class ${1:`!p snip.rv = snip.basename or "name"`}
{
private:
	${0:/* data */}

public:
	${1/(\w+).*/$1/}(${2:arguments});
	virtual ~${1/(\w+).*/$1/}();
};
endsnippet
##
